USE [master]
GO
/****** Object:  Database [Studente]    Script Date: 19/11/2021 14:11:05 ******/
CREATE DATABASE [Studente]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Studente', FILENAME = N'C:\Users\laura\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Studente.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Studente_log', FILENAME = N'C:\Users\laura\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Studente.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Studente].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Studente]
GO
USE [Studente]
GO
/****** Object:  Table [dbo].[Studente]    Script Date: 19/11/2021 14:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studente](
	[Nome] [nvarchar](20) NOT NULL,
	[Cognome] [nvarchar](20) NOT NULL,
	[Matricola] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Studente] ON 

INSERT [dbo].[Studente] ([Nome], [Cognome], [Matricola]) VALUES (N'Cristina', N'Rossi', 1)
INSERT [dbo].[Studente] ([Nome], [Cognome], [Matricola]) VALUES (N'Luca', N'Tossini', 2)
INSERT [dbo].[Studente] ([Nome], [Cognome], [Matricola]) VALUES (N'Roberto', N'Nava', 4)
SET IDENTITY_INSERT [dbo].[Studente] OFF
GO
USE [master]
GO
